*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    }
    :root{
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #eb4a4a;
    --second-color: gray;
    --other-color: #12141c;
    --h1-font: 5.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
    }
    body{
    background: var(--bg-color);
    color: var(--text-color);
    }
    header{ position: fixed; right: 0; top: 0; width: 100%; z-index: 1000; display: flex; align-items: center; justify-content: space-between; background: transparent; padding: 22px 16%; border-bottom: 1px solid transparent; transition: all .40s ease; -webkit-transition: all .40s ease; -moz-transition: all .40s ease; -ms-transition: all .40s ease; -o-transition: all .40s ease;
    }
    .navbar{
    display: flex;
    }
    .navbar a{
        color: var(--second-color);
        font-size: var(--p-font);
        font-weight: 600;
        padding: 10px 25px;
        margin: 0 2px;
        border-radius: 0.5rem;
        transition: all .40s ease;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        -webkit-transition: all .40s ease;
        -moz-transition: all .40s ease;
        -ms-transition: all .40s ease;
        -o-transition: all .40s ease;
}
    .navbar a:hover{
    background: var(--main-color);
    color: var(--text-color);
    }
    #menu-icon{
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
    }
    section{
    padding: 160px 16% 90px;
    }
    .home{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url();
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    .home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
    }
    span{
    color: var(--main-color);
    }
    .home-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    }
    .home-text h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
    }
    .btn{ display: inline-block; padding: 14px 40px; border-radius: 0.5rem; font-size: 17px; font-weight: 500; background: var(--main-color); color: var(--text-color); border: 1px solid var(--main-color); transition: all .40s ease; -webkit-transition: all .40s ease; -moz-transition: all .40s ease; -ms-transition: all .40s ease; -o-transition: all .40s ease;
    }
    .btn:hover{ transform: scale(1.01) translateY(-5px); background: transparent; border: 1px solid var(--main-color); -webkit-transform: scale(1.01) translateY(-5px); -moz-transform: scale(1.01) translateY(-5px); -ms-transform: scale(1.01) translateY(-5px); -o-transform: scale(1.01) translateY(-5px);
    }
    div.image{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
        margin-left: 20px;
    }
    div.image img{
        width: 400px;
        height: 400px;
        border-radius: 10px;
        -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
    }
    header.sticky{
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630;
    }
    .about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    }
    .about-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    }
    .about-text h2{
    font-size: var(--h2-font);
    }
    .about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
    }
    .about-gri{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    }
    .about-in h5{
    font-size: 22px;
    font-weight: 600;
    }
    .about-img img{
        height: auto;
        width: 100%;
        max-width: 360px;
        border-radius:20px ;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:;
        -webkit-border-radius:;
    }
    .main-text{
    text-align: center;
    }
    .main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
    }
    .main-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    }
    .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
    font-size: 20px;
    color: #eb4a4a;
    }
    .portfolio-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
        gap: 30px;
    }
    .portfolio-content .row{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .portfolio-content a{
        color: #eb4a4a;
        font-size: 30px;
        padding: 3px;
    }
    .portfolio-content a:hover{
        color: #fff;
    }
    .contact-text{
        margin-top: 10px;
    }
    .contact-text h2{
    font-size: var(--h2-font);
    }
    .contact-list{
    margin-bottom: 3rem;
    }
    .contact-list li{
    margin-bottom: 10px;
    display: block;
    }
    .contact-list li a{ display: block; color: var(--second-color); font-size: 20px; font-weight: 600; transition: all .40s ease; -webkit-transition: all .40s ease; -moz-transition: all .40s ease; -ms-transition: all .40s ease; -o-transition: all .40s ease;
    }
    .contact-list li a:hover{ transform: scale(1.01) translateY(-5px); color: var(--main-color); -webkit-transform: scale(1.01) translateY(-5px); -moz-transform: scale(1.01) translateY(-5px); -ms-transform: scale(1.01) translateY(-5px); -o-transform: scale(1.01) translateY(-5px);
    }
    .contact-icons i{ height: 40px; width: 40px; background: #12141c; border-radius: 0.5rem; color: var(--main-color); display: inline-flex; align-items: center; justify-content: center; font-size: 18px; margin-right: 10px; transition: all .40s ease; -webkit-transition: all .40s ease; -moz-transition: all .40s ease; -ms-transition: all .40s ease; -o-transition: all .40s ease;
    }
    .contact-icons i:hover{ transform: scale(1.01) translateY(-5px); color: var(--text-color); background: var(--main-color); -webkit-transform: scale(1.01) translateY(-5px); -moz-transform: scale(1.01) translateY(-5px); -ms-transform: scale(1.01) translateY(-5px); -o-transform: scale(1.01) translateY(-5px);
    }
    @media (max-width: 1325px){
    header{
        padding: 16px 3%;
    }
    header.sticky{
        padding: 8px 3%;
    }
    section{
        padding: 130px 3% 60px;
    }
    }
    
    @media (max-width: 970px){
    :root{
        --h1-font: 4.2rem;
      --h2-font: 2.9rem;
      --p-font: 1rem;
    }
    section{
        padding: 70px 3% 60px;
    }
    .home{
        height: 85vh;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    }
    
    @media (max-width: 830px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -600px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #12141c;
        text-align: left;
        transition: all .40s ease;
        -webkit-transition: all .40s ease;
        -moz-transition: all .40s ease;
        -ms-transition: all .40s ease;
        -o-transition: all .40s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 1rem;
    }
    .navbar.active{
        top: 100%;
    }
    :root{
        --h1-font: 3.7rem;
      --h2-font: 2.7rem;
    }
    }